.container {
  max-width: 36rem;
  padding: 0 1.5rem;
  margin: 3rem auto 6rem;
}

.header {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.backToHome {
  margin: 3rem 0 0;
}

.profile-pic {
  clip-path: circle(50% at center);
  filter: sepia(0%) brightness(1.02);
  transition: filter .3s ease-in-out;

}

.profile-pic:hover {
  filter: sepia(10%) brightness(1.1);
}